@model Dish

<a class="dish" href="/">

    <div class="dish__image" style="background-image: url(@Model.ImageURL);"></div>
    <h3 class="dish__heading">@Model.Name</h3>
    <p class="dish__description">@Model.Description</p>

</a>