@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<i class="material-icons main-menu-button main-menu-button--open">menu</i>

<div class="main-menu main-menu--hidden">

    <i class="material-icons main-menu-button main-menu-button--close">close</i>

    <ul class="main-menu-list">

        @foreach (var category in ViewData["Categories"] as string[])
        {
            var className = category == ViewData["CurrentPage"] as string ? "main-menu-link main-menu-link--selected" : "main-menu-link";

            <li class="main-menu-list__item">
                @using (Html.BeginForm("Index", "Home", new { category }, FormMethod.Post))
                {
                    <input class="@className" type="submit" value="@category" />
                }
            </li>
        }

        @if (!SignInManager.IsSignedIn(User))
        {
            <li class="main-menu-list__item">
                @using (Html.BeginForm("Login", "Account", FormMethod.Get))
                {
                    var className = ViewData["CurrentPage"] as string == "Log in" ? "main-menu-link main-menu-link--selected" : "main-menu-link";

                    <input class="@className" type="submit" value="Log in" />
                }
            </li>

            <li class="main-menu-list__item">
                @using (Html.BeginForm("Register", "Account", FormMethod.Get))
                {
                    var className = ViewData["CurrentPage"] as string == "Register" ? "main-menu-link main-menu-link--selected" : "main-menu-link";

                    <input class="@className" type="submit" value="Register" />
                }
            </li>
        }
        else
        {
            <li class="main-menu-list__item">
                @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                {
                    <input class="main-menu-link" type="submit" value="Log out" />
                }
            </li>
        }

    </ul>

</div>
