<i class="material-icons main-menu-button main-menu-button--open">menu</i>

<div class="main-menu main-menu--hidden">

    <i class="material-icons main-menu-button main-menu-button--close">close</i>

    <ul class="main-menu-list">

        @foreach (var category in ViewData["Categories"] as string[])
        {
            var className = category == ViewData["SelectedCategory"] as string ? "main-menu-link main-menu-link--selected" : "main-menu-link";

            <li class="main-menu-list__item">
                @using (Html.BeginForm("Index", "Home", new { category }, FormMethod.Post))
                {
                    <input class="@className" type="submit" value="@category" />
                }
            </li>
        }

    </ul>

</div>
